/* color list */
/* lightgrey : #eeeee4 */
/* white : #f6f5ef */
/* gray : #b8b7b3 */
/* black : #111111 */
/* black board : #2c2a29 */

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Common Attribute */
section
{
    position: relative;
}

.inner-width
{
    max-width: 992px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
/* nav section */
.navbar
{
    width: 100%;
    background-color: #f6f5ef;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: .2s linear;
    height: 80px;
}
.logo-container
{
    width: 64px;
    height: 64px;
}
.navbar ul
{
    display: flex;
    align-items: center;
}
.navbar ul li a
{
    color: #333;
    padding: 15px 15px;
    margin-right: 10px;
    font-weight: 500;
}
/* home section */
#home 
{
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 80px 0;
}
#home::before
{
    content: "";
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}
#home .inner-width 
{
    margin-top: 30px;
}
#home .time-container
{
    max-width: 25%;
}
#home .schedule-container
{
    width: 80%;
    height: 100%;
    position: relative;
}
#home .sked-form
{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
#home .sked-form select
{
    width: 20%;
    margin: 0 20px;
}
#home .sked-area {
    height: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px
}
#home .sked-area .sked 
{
    width: calc(25%);
    height: calc(50%);
}


#weather
{
    height: 1000px;
}








